@model LocalDeAplicacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocalDeAplicacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoUF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoUF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiglaUF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiglaUF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumeroInscricao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
