@model IEnumerable<LocalDeAplicacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeMunicipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoMunicipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoUF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiglaUF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMunicipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoMunicipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoUF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiglaUF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumeroInscricao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumeroInscricao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumeroInscricao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
