@model Temporario.Importacao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Importacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoEnem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoEnem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaixaEtaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaixaEtaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treineiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treineiro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituacaoConclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituacaoConclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoConclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoConclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEnsino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEnsino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoUF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoUF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiglaUF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiglaUF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DependenciaAdministrativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DependenciaAdministrativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZonaLocalizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZonaLocalizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituacaoFuncionamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituacaoFuncionamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresencaCN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresencaCN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresencaCH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresencaCH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresencaLC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresencaLC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresencaMT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresencaMT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTipoProvaCN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTipoProvaCN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTipoProvaCH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTipoProvaCH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTipoProvaLC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTipoProvaLC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTipoProvaMT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTipoProvaMT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaCN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaCN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaCH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaCH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaLC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaLC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaMT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaMT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetRespCN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetRespCN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetRespCH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetRespCH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetRespLC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetRespLC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetRespMT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetRespMT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetGabCN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetGabCN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetGabCH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetGabCH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetGabLC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetGabLC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetGabMT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetGabMT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinguaEstrangeira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinguaEstrangeira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusRedacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusRedacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaComp1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaComp1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaComp2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaComp2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaComp3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaComp3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaComp4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaComp4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaComp5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaComp5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaRedacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaRedacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NumeroInscricao" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
