@model Temporario.Importacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Importacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumeroInscricao" />
            <div class="form-group">
                <label asp-for="AnoEnem" class="control-label"></label>
                <input asp-for="AnoEnem" class="form-control" />
                <span asp-validation-for="AnoEnem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaixaEtaria" class="control-label"></label>
                <input asp-for="FaixaEtaria" class="form-control" />
                <span asp-validation-for="FaixaEtaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raca" class="control-label"></label>
                <input asp-for="Raca" class="form-control" />
                <span asp-validation-for="Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidade" class="control-label"></label>
                <input asp-for="Nacionalidade" class="form-control" />
                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Treineiro" /> @Html.DisplayNameFor(model => model.Treineiro)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SituacaoConclusao" class="control-label"></label>
                <input asp-for="SituacaoConclusao" class="form-control" />
                <span asp-validation-for="SituacaoConclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoConclusao" class="control-label"></label>
                <input asp-for="AnoConclusao" class="form-control" />
                <span asp-validation-for="AnoConclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEscola" class="control-label"></label>
                <input asp-for="TipoEscola" class="form-control" />
                <span asp-validation-for="TipoEscola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEnsino" class="control-label"></label>
                <input asp-for="TipoEnsino" class="form-control" />
                <span asp-validation-for="TipoEnsino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoEscola" class="control-label"></label>
                <input asp-for="CodigoEscola" class="form-control" />
                <span asp-validation-for="CodigoEscola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeMunicipio" class="control-label"></label>
                <input asp-for="NomeMunicipio" class="form-control" />
                <span asp-validation-for="NomeMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoMunicipio" class="control-label"></label>
                <input asp-for="CodigoMunicipio" class="form-control" />
                <span asp-validation-for="CodigoMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoUF" class="control-label"></label>
                <input asp-for="CodigoUF" class="form-control" />
                <span asp-validation-for="CodigoUF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiglaUF" class="control-label"></label>
                <input asp-for="SiglaUF" class="form-control" />
                <span asp-validation-for="SiglaUF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DependenciaAdministrativa" class="control-label"></label>
                <input asp-for="DependenciaAdministrativa" class="form-control" />
                <span asp-validation-for="DependenciaAdministrativa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZonaLocalizacao" class="control-label"></label>
                <input asp-for="ZonaLocalizacao" class="form-control" />
                <span asp-validation-for="ZonaLocalizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SituacaoFuncionamento" class="control-label"></label>
                <input asp-for="SituacaoFuncionamento" class="form-control" />
                <span asp-validation-for="SituacaoFuncionamento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PresencaCN" /> @Html.DisplayNameFor(model => model.PresencaCN)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PresencaCH" /> @Html.DisplayNameFor(model => model.PresencaCH)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PresencaLC" /> @Html.DisplayNameFor(model => model.PresencaLC)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PresencaMT" /> @Html.DisplayNameFor(model => model.PresencaMT)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CodTipoProvaCN" class="control-label"></label>
                <input asp-for="CodTipoProvaCN" class="form-control" />
                <span asp-validation-for="CodTipoProvaCN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodTipoProvaCH" class="control-label"></label>
                <input asp-for="CodTipoProvaCH" class="form-control" />
                <span asp-validation-for="CodTipoProvaCH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodTipoProvaLC" class="control-label"></label>
                <input asp-for="CodTipoProvaLC" class="form-control" />
                <span asp-validation-for="CodTipoProvaLC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodTipoProvaMT" class="control-label"></label>
                <input asp-for="CodTipoProvaMT" class="form-control" />
                <span asp-validation-for="CodTipoProvaMT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaCN" class="control-label"></label>
                <input asp-for="NotaCN" class="form-control" />
                <span asp-validation-for="NotaCN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaCH" class="control-label"></label>
                <input asp-for="NotaCH" class="form-control" />
                <span asp-validation-for="NotaCH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaLC" class="control-label"></label>
                <input asp-for="NotaLC" class="form-control" />
                <span asp-validation-for="NotaLC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaMT" class="control-label"></label>
                <input asp-for="NotaMT" class="form-control" />
                <span asp-validation-for="NotaMT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetRespCN" class="control-label"></label>
                <input asp-for="VetRespCN" class="form-control" />
                <span asp-validation-for="VetRespCN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetRespCH" class="control-label"></label>
                <input asp-for="VetRespCH" class="form-control" />
                <span asp-validation-for="VetRespCH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetRespLC" class="control-label"></label>
                <input asp-for="VetRespLC" class="form-control" />
                <span asp-validation-for="VetRespLC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetRespMT" class="control-label"></label>
                <input asp-for="VetRespMT" class="form-control" />
                <span asp-validation-for="VetRespMT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetGabCN" class="control-label"></label>
                <input asp-for="VetGabCN" class="form-control" />
                <span asp-validation-for="VetGabCN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetGabCH" class="control-label"></label>
                <input asp-for="VetGabCH" class="form-control" />
                <span asp-validation-for="VetGabCH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetGabLC" class="control-label"></label>
                <input asp-for="VetGabLC" class="form-control" />
                <span asp-validation-for="VetGabLC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetGabMT" class="control-label"></label>
                <input asp-for="VetGabMT" class="form-control" />
                <span asp-validation-for="VetGabMT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinguaEstrangeira" class="control-label"></label>
                <input asp-for="LinguaEstrangeira" class="form-control" />
                <span asp-validation-for="LinguaEstrangeira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusRedacao" class="control-label"></label>
                <input asp-for="StatusRedacao" class="form-control" />
                <span asp-validation-for="StatusRedacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaComp1" class="control-label"></label>
                <input asp-for="NotaComp1" class="form-control" />
                <span asp-validation-for="NotaComp1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaComp2" class="control-label"></label>
                <input asp-for="NotaComp2" class="form-control" />
                <span asp-validation-for="NotaComp2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaComp3" class="control-label"></label>
                <input asp-for="NotaComp3" class="form-control" />
                <span asp-validation-for="NotaComp3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaComp4" class="control-label"></label>
                <input asp-for="NotaComp4" class="form-control" />
                <span asp-validation-for="NotaComp4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaComp5" class="control-label"></label>
                <input asp-for="NotaComp5" class="form-control" />
                <span asp-validation-for="NotaComp5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaRedacao" class="control-label"></label>
                <input asp-for="NotaRedacao" class="form-control" />
                <span asp-validation-for="NotaRedacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
